<div class="message">
    <%= image_tag(message.user.profile_picture, class: 'img-circle') %>

    <% if message.user == current_user %>
    <div class="message-same-user">
      <%= message.user.full_name %> (You)
    </div>
    <% else %>
    <div class="message-user">
      <%= message.user.full_name %>
    </div>
    <% end %>

  <div class="message-content">
    <% if message.user == current_user %>
      <%= fa_icon("trash-o", onclick: 'deleteMessage(this)', data: message.to_param) %>
    <% end %>

    <%= sanitize markdown_to_html(message.content) %>

    <p class="very-small-txt"><%= message.created_at.strftime('%x %I:%M %p') %></p>
  </div>
</div>